<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427296167611-19iqmq91l00j47l9lkmijo039ua1pb3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427296167611-19iqmq91l00j47l9lkmijo039ua1pb3l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427296167611-a9vv7j6etkpspa84nnl82cuvrqoo48qk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE62FYbfIFt9A06pkMBDuS3icuv-e3q8U</string>
	<key>GCM_SENDER_ID</key>
	<string>427296167611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loogisti.logisticMobileDriver</string>
	<key>PROJECT_ID</key>
	<string>loogisti-38a9e</string>
	<key>STORAGE_BUCKET</key>
	<string>loogisti-38a9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427296167611:ios:fc0d37dc005a48b7bfbb9e</string>
</dict>
</plist>